<div class="comment" style="background-color:gray">
	<p>
	  <strong>Comment:</strong>
	  <%= comment.comment %>
	</p>

	<p>
	  <strong>Votes:</strong>
	  <%= comment.votes.count %>
	  <strong>Vote:</strong>
	  <% if comment.users_who_voted.include? current_user %>
	  	<%= link_to "Vote: -1", post_comment_upvote_path(comment.post, comment) %>
	  <% else %>
	  	<%= link_to "Vote: +1", post_comment_upvote_path(comment.post, comment) %>
	  <% end %>
	</p>
	
	
</div>